body{
    font-family: sans-serif;
    background: #eef;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
.container{
    background: gray;
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    width: 100%;
}
h1{
    margin-bottom: 0.5rem;
}
p{
    margin-bottom: 1rem;
    font-size: 0.9rem;
}
form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
input,select,button{
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid;
    border-radius: 4px;
}
button{
    background:beige ;
    color: blue;
    border: none;
    cursor: pointer;
}